body{
    margin: 0;
}

.header{
    border-bottom: solid 3px aqua;
    background-color: #000;
}

.header .container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}

.header h1{
    color: aqua;
}

.header .container ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    color: orange;
}

.header a{
    color: orange;
    text-decoration: none;
}